* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  background: linear-gradient(90deg, #b2fefa, #0ed2f7);
  padding: 2rem;
}

h1 {
  text-align: center;
}

.box {
  height: 3rem;
  width: 3rem;
  background-color: #0ed2f7;
  border-radius: 10px;
  position: absolute;
}
