* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  background: linear-gradient(90deg, #b2fefa, #0ed2f7);
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #333;
}

.box {
  height: 3rem;
  width: 3rem;
  background-color: #0ed2f7;
  border-radius: 10px;
  position: absolute;
}

.stagger {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 4rem;
}

.sphere {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 10px 5px 5px rgb(0 0 0 / 0.2);
}

.matrix {
  display: grid;
  width: calc(5 * 3rem + 4 * 10px);
  grid-template-rows: repeat(5, fit-content(100px));
  grid-template-columns: repeat(5, fit-content(100px));
  gap: 10px;
  margin: 25px auto 0;
}

.matrix .square {
  height: 3rem;
  width: 3rem;
  background-color: green;
  border-radius: 5px;
}

.controlled {
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 5px;
  margin: 35px auto 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border: 0;
  background-color: #eee;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 0.3);
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.buttons button:hover {
  background-color: #0ed2f7;
}
